<style>
body{ font-family:arial; }
.menu_nav {
display: flex;
justify-content: flex-end; /* разместим справа */
background: #008aff;
}

.menu_nav a {
color:#fff;
padding:15px 10px;
text-decoration:none;
text-align:center;
}

.nav a:hover { background:#5c8db7; }
/* меньше 800px */
@media all and (max-width: 800px) {
.nav { justify-content: space-around; }
.nav a{ flex-grow:1; /* растягиваться на всю ширину */ }
}
/* меньше 500px */
@media all and (max-width: 500px) {
.nav { flex-direction: column; }
}
</style>

@media (min-width:360px ) {
  .body__nav {
    font-size: 15px;
  }
}

@media (min-width:641px) {
  .body__nav {
    font-size: 25px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .body__nav {
    font-size: 27px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  .body__nav {
    font-size: 29px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .body__nav {
    font-size: 23px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .body__nav {
    font-size: 30px;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .body__nav {
    font-size: 24px;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .body__nav {
    font-size: 21px;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .body__nav {
    font-size: 35px;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  .body__nav {
    font-size: 28px;
  }
}
/* (iPhone 6) ----------- */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .body__nav {
    font-size: 21px;
  }
}

/*iPhone 6 Plus in portrait & landscape ----------- */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .body__nav {
    font-size: 25px;
  }
}

.c-hamburger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  box-shadow: none;
  cursor: pointer;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger:span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #fff;
}

.c-hamburger span::before .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: 20px;
}

.c-hamburger {
  background: #cb0032;
}
